<% if logged_in_admin? %>


<p id="notice"><%= notice %></p>

<h1>Admins</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.user %></td>
        <td><%= admin.mail %></td>
        <td><%= admin.password %></td>

        <td><%= link_to 'Show', admin %></td>
        <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
        <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New admin', new_admin_path %>


<!-- Logout_adm.. es del routes, el method es por rails -->
<%= link_to "Log out", logout_adm_path, method: "delete" %>


<% else %>

<h3>No tiene permiso para ver esta página, favor de acceder como administrador para verla: <%= link_to "Log in", login_adm_path %> </h3>
<%= link_to "Home", home_path %>


<% end %>
