            <!--
            <div class="navbar">
              <h1 class="text-center">Weekend</h1>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-6">
                <div class="jumbotron">
                  <form class="commentForm" onSubmit={this.handleSubmit} encType="multipart/form-data">

                    <div class="form-group form-group-material-red">
                      <input class="form-control floating-label" ref="rname" type="text" placeholder="Nombre"></input>
                    </div>
                    <div class="form-group form-group-material-red">
                      <input class="form-control floating-label" ref="user" type="text" placeholder="User"></input>
                    </div>
                    <div class="form-group form-group-material-red">
                      <input class="form-control floating-label" ref="pwd" type="text" placeholder="Password"></input>
                    </div>
                    <div class="form-group form-group-material-red">
                      <input class="form-control floating-label" ref="mail" type="text" placeholder="Mail"></input>
                    </div>
                    <div class="text-center">

                      <input type="submit" value="Post" class="btn btn-success btn-raised"></input>

          -->
<div class="row">
  <div class="jumbotron col-md-6 col-md-offset-3">

    <%= form_for(@user) do |f| %>

    <div class="field form-group">
      <%= f.text_field :name , class: 'form-control text-center',
      placeholder: 'Name' %>
    </div>

    <div class="field form-group">
      <%= f.text_field :user , class: 'form-control text-center',
      placeholder: 'User' %>
    </div>

    <div class="field form-group">
      <%= f.text_field :pwd , class: 'form-control text-center',
      placeholder: 'Password' %>
    </div>

    <div class="field form-group">
      <%= f.text_field :mail , class: 'form-control text-center',
      placeholder: 'Email'%>
    </div>

    <div class="actions text-center">
      <%= f.submit :class => 'btn btn-success'%>
    </div>

    <% end %>
  </div>
</div>
