<% provide(:title, "User login") %>
<h1> Admin login </h1>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= form_for(:session, url: login_adm_path) do |f| %>
  <%= f.label :user %>
  <%= f.text_field :user, class: 'form-control'%> <br>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %> <br>

  <%= f.submit "Log in" %>

<% end %>

<p> <%= link_to 'Users', controller: "users", action: "index" %> <p>
