<div class="row">
  <div class="jumbotron col-md-offset-3 col-md-6">

    <%= form_for(@place) do |f| %>
    <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field form-group">
      <%= f.text_field :name, class: "form-control", autocomplete: "off",
      placeholder: "Name"%>
    </div>

    <div id="file_path" class="field form-group">
      <div class="form-control-wrapper fileinput">
        <%= f.text_field :image, readonly: "", class: "form-control",
        placeholder: "Browse..."%>
        <%= f.file_field :image, multiple: "", ref: "file_path", class: "control-label"%>
      </div>
    </div>

    <div class="field form-group">
      <%= f.text_field :location , class: "form-control", autocomplete: "off",
      placeholder: "Location"%>
    </div>

    <div class="field form-group">
      <%= f.text_field :schedule , class: "form-control", autocomplete: "off",
      placeholder: "Schedule"%>
    </div>

    <div class="field form-group">
      <%= f.text_field :description, class: "form-control", autocomplete: "off",
      placeholder: "Description"%>
    </div>
    <div class="field">
      <%= f.label :mood_id %><br>
      <%= f.select :mood_id, mood_id_select,{:prompt => ""} %>
    </div>

    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.select :category_id, category_id_select,{:prompt => ""} %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
