<div class="row">
  <div class="jumbotron col-md-offset-3 col-md-6">

    <%= form_for(@place) do |f| %>
    <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field form-group">
      <%= f.text_field :name, class: "form-control floating-label", autocomplete: "off",
      placeholder: "Name"%>
    </div>

    <div class="field form-group">
      <div class="form-control-wrapper fileinput">
        <%= f.text_field :image, readonly: "", class: "form-control",
        placeholder: "Browse..."%>
        <%= f.file_field :image, class: "control-label"%>
      </div>
    </div>

    <div class="field form-group">
      <%= f.text_field :location , class: "form-control", autocomplete: "off",
      placeholder: "Location"%>
    </div>

    <div class="field form-group">
      <%= f.text_field :schedule , class: "form-control", autocomplete: "off",
      placeholder: "Schedule"%>
    </div>

    <div class="field form-group">
      <%= f.text_field :description, class: "form-control", autocomplete: "off",
      placeholder: "Description"%>
    </div>

    <div class="field form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :mood_id %>
        </div>
        <div class="col-md-9">
          <%= f.select :mood_id, mood_id_select,{:prompt => ""}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="field form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :category_id %>
        </div>
        <div class="col-md-9">
          <%= f.select :category_id, category_id_select,{:prompt => ""}, :class => "form-control" %>
        </div>
      </div>
    </div>


    <div class="actions text-center">
      <%= f.submit :class => "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
