<% if logged_in_admin? %>

<p id="notice"><%= notice %></p>

<h1 style="color: white;">Places</h1>


<% @places.each do |place| %>
  <div>
      <div class="col-md-2">
        <div class="jumbotron" style="text-align: center;">
          <%= link_to image_tag(place.image, class: "mini-image", :border => 0), place %>
          <p><%= place.name %></p>
          <%=link_to 'Test', places_category_path(place.category_id)%>
        </div>
      </div>
  </div>
<% end %>
<br>

<% else %>

<h3>No tiene permiso para ver esta página, favor de acceder como administrador para verla: <%= link_to "Log in", login_adm_path %> </h3>
<%= link_to "Home", home_path %>

<% end %>
