<p id="notice"><%= notice %></p>

<p>
  <h4 class="col-md-6 col-md-offset-3"><%= @place.name %></h4>
</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">

<p>
  <!--
  <%= @place.image %>
-->
  <%= image_tag(@place.image, style: "width: 100px;height:100px",class:"img-responsive") if @place.image.present? %>
</p>

<p>
  <%= @place.location %>
</p>

<p>
  <%= @place.schedule %>
</p>

<p>Description:
  <%= @place.description %>
</p>

<p>Mood:
  <%= @place.mood.name %>
</p>

<p>Category:
  <%= @place.category.name %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
</div>
</div>
</div>
