<% if logged_in_admin? %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Back', places_path , class: "mdi-navigation-arrow-back"%>
    <div class="jumbotron">

      <p>
        <h4 style="text-align:center"><%= @place.name %></h4>
      </p>

      <p>
      <%= image_tag(@place.image, class:"img-responsive") if @place.image.present? %>
      </p>

      <p>
        <i class="mdi-maps-my-location"></i>
        <%= @place.location %>
      </p>

      <p>
        <i class="mdi-device-access-time"></i>
        <%= @place.schedule %>
      </p>

      <p>
        <i class="mdi-editor-format-align-left"></i>
        <%= @place.description %>
      </p>

      <p>
        <i class="mdi-social-mood"></i>
        <%= @place.mood.name %>
      </p>

      <p>
        <i class="mdi-image-filter-hdr"></i>
        <%= @place.category.name %>
      </p>

      <%= link_to 'Edit', edit_place_path(@place), class:"mdi-editor-mode-edit" %>
    </div>
  </div>
</div>

<% elsif logged_in? %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Back', places_path , class: "mdi-navigation-arrow-back"%>
    <div class="jumbotron">

      <p>
        <h3 style="text-align:center"><%= @place.name %></h3>
      </p>

      <p>
      <%= image_tag(@place.image, class:"img-responsive") if @place.image.present? %>
      </p>

      <p>
        <i class="mdi-maps-my-location"></i>
        <%= @place.location %>
      </p>

      <p>
        <i class="mdi-device-access-time"></i>
        <%= @place.schedule %>
      </p>

      <p>
        <i class="mdi-editor-format-align-left"></i>
        <%= @place.description %>
      </p>

      <p>
        <i class="mdi-social-mood"></i>
        <%= @place.mood.name %>
      </p>

      <p>
        <i class="mdi-image-filter-hdr"></i>
        <%= @place.category.name %>
      </p>

      <p>
        <i class="mdi-communication-live-help"></i>
        <%= @place.tips %>
      </p>


      <% if !@place.liked_by?(current_user.id) %>
        <div class="favorito">
          <%= link_to '<p><i class= "mdi-action-stars"></i>Agregar a favoritos</p>'.html_safe,   favorites_path(@place), method: :post%>
        </div>
      <% elsif @place.liked_by?(current_user.id)%>
        <%= link_to '<p><i class= "mdi-av-not-interested"></i>Borrar de favoritos</p>'.html_safe, favorite_place_path(@place,
          current_user.favorite_places.find_by(place_id: @place.id).id), method: :delete %>
      <% end %>

    </div>
  </div>
  <div class="col-md-3" style="top:30px;">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
  </div>
</div>


<% else %>

<h3>No tiene permiso para ver esta página, favor de acceder como administrador para verla: <%= link_to "Log in", login_adm_path %> </h3>
<%= link_to "Home", home_path %>

<% end %>
