<!-- Admin -->
<% if logged_in_admin? %>
  <div class="navbar navbar-material-cyan">
    <div class="navbar-header">
      <%= link_to "<strong>Weekend - Admin</strong>".html_safe, :home, :class => "navbar-brand" %>
    </div>
    <%= link_to "Log out", logout_adm_path, method: "delete", style: "color: black;"%>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

<!-- User-->
<% elsif logged_in? %>
<div class="navbar navbar-material-cyan">
  <div class="navbar-header">
    <%= link_to "<strong>Weekend</strong>".html_safe, :home, :class => "navbar-brand" %>

  </div>

  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Nosotros' , :aboutus %></li>
        <li><%= link_to '|' , "javascript:void(0)"%></li>
        <li><%= link_to 'Acerca del proyecto', :aboutproject %></li>
        <li><%= link_to '|' , "javascript:void(0)"%></li>
        <li class="move"><i class="mdi-action-account-circle"></i><%= current_user.name %></li>
        <li><%= link_to '|' , "javascript:void(0)"%></li>
        <li><%= link_to '<i class= "mdi-action-highlight-remove"></i>'.html_safe, logout_path, method: "delete", style: "color: black;"%></i></li>
        <li><%= link_to ' ' , "javascript:void(0)"%></li>
      </ul>
    </div>

  </div>
</div>

<!-- No user-->
<% else %>
<div class="navbar navbar-material-cyan">
  <div class="navbar-header">
  <%= link_to "<strong>Weekend</strong>".html_safe, :home, :class => "navbar-brand" %>
  </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Nosotros' , :aboutus %></li>
      <li><%= link_to '|' , "javascript:void(0)"%></li>
      <li><%= link_to 'Acerca del proyecto', :aboutproject %></li>
      <li><%= link_to '|' , "javascript:void(0)"%></li>
      <li><%= link_to 'Iniciar sesion' , login_path %></li>
      <li><%= link_to '|' , "javascript:void(0)"%></li>
      <li><%= link_to 'Registrarse' , new_user_path %></li>
      <li><%= link_to ' ' , "javascript:void(0)"%></li>
    </ul>
</div>
<% end %>
